switcher {
  background: mix(@theme_bg_color, @theme_fg_color, .15);
  transition: background 200ms ease-out;
}

switcher .tab-thumbnail {
  background: @theme_bg_color;
  color: @theme_fg_color;
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
}

switcher .tab-thumbnail,
switcher .tab-placeholder {
  box-shadow: 0 0 0 1px @borders;
  border-radius: 8px;
}

switcher .tab-placeholder {
  background: alpha(currentColor, 0.05);
}

switcher .tab-placeholder:hover {
  background: alpha(currentColor, 0.07);
}

switcher .tab-placeholder:hover:active {
  background: alpha(currentColor, 0.09);
}

switcher .tab-flowbox {
  margin: 24px;
  border-spacing: 24px;
}

flowboxchild .tab-close {
  border-radius: 50px;
  padding: 0;
  min-width: 36px;
  min-height: 36px;

  border: none;
  box-shadow: none;
  background: none;
  -gtk-icon-shadow: none;
  text-shadow: none;
  opacity: 0;
  color: white;

  transform: translate(18px, -18px);
}

flowboxchild:hover .tab-close {
  opacity: 1;
  background: alpha(black, .2);
}

flowboxchild .tab-close:hover {
  opacity: 1;
  background: alpha(black, .5);
}

flowboxchild .tab-close:active {
  opacity: 1;
  background: alpha(black, .9);
}

tabview > stack > * {
  background-image: url("file:///usr/share/icons/Adwaita/512x512/legacy/accessories-text-editor.png"),
                    url("file:///usr/share/icons/Adwaita/512x512/legacy/accessories-character-map.png");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}
